.members-3WRCEx::-webkit-scrollbar {
	width: 0;
}

.member-2gU6Ar {
	margin: 0;
	transition: margin .15s linear;
}

.selected-1-Z6gm.member-2gU6Ar {
	margin: 2px 0;
}

.member-2gU6Ar .layout-1qmrhw {
	margin-right: -16px;
	padding: 0 8px 0 16px;
	border-radius: 0px;
	transition: padding .15s ease;
}

.selected-1-Z6gm.member-2gU6Ar .layout-1qmrhw {
	padding: 2px 8px;
}
