.headerTop-1PNKck .badgeList-2aoHPw {
	backdrop-filter: blur(3px);
	margin: -4px;
	padding: 4px;
	border-radius: 36px;
	background-color: rgb(255 255 255 / 10%);
	border: 2px solid rgb(255 255 255 / 20%);
	gap: 2px;
}

.theme-dark .headerTop-1PNKck .badgeList-2aoHPw {
	border-color: rgb(0 0 0 / 20%);
	background-color: rgb(0 0 0 / 10%);
}

.headerTop-1PNKck .badgeList-2aoHPw:empty {
	visibility: hidden;
}

.headerTop-1PNKck .badgeList-2aoHPw>* {
	margin: 0;
}

.headerTop-1PNKck {
	top: -40px;
}

.nameTag-2Nlmsy.nameTag-H6kSJ0 {
	position: relative;
	left: 164px;
	top: 12px;
	margin: 0 0 32px;
}

.avatar-3QF_VA {
	border-width: 4px;
	margin: 2px;
}

.customStatusActivity-WKWGD- {
	padding: 16px;
}

.relationshipButtons-3ByBpj .lookFilled-yCfaCM {
	background-color: rgb(0 0 0 / 15%);
	backdrop-filter: blur(3px);
}

.relationshipButtons-3ByBpj .colorGreen-3y-Z79:hover {
	background-color: var(--button-positive-background);
}
.relationshipButtons-3ByBpj .colorBrand-I6CyqQ:hover {
	background-color: var(--brand-experiment);
}

.body-1Ukv50 {
	min-height: 240px;
	height: unset;
}

.root-8LYsGj {
	width: 600px;
	overflow: visible;
}

.tabBarContainer-sCZC4w {
	position: absolute;
	transform: translate(-80%, -10vh);
	top: 50%;
	border: none;
}
.tabBar-2hXqzU {
	flex-direction: column;
	gap: 2px;
}

.tabBar-2hXqzU .tabBarItem-30Te4- {
	background-color: var(--background-floating);
	padding: 8px;
	border-radius: 4px;
	transition: .17s ease;
	transition-property: background-color, color;
}

.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG,
.top-K_jibn .themed-2-lozF.item-3XjbnG:hover {
	border-bottom-color: transparent;
}

.tabBar-2hXqzU .tabBarItem-30Te4-.selected-g-kMVV {
	background-color: var(--brand-experiment);
}

.tabBar-2hXqzU {
	gap: 9px;
}

.tabBar-2hXqzU .tabBarItem-30Te4- {
	transition-property: background-color, color, transform;
}
.tabBar-2hXqzU .tabBarItem-30Te4-.selected-g-kMVV {
	transform: translateX(-8px);
}

.topSection-13QKHs, .banner-1YaD3N {
	border-radius: 10px 10px 0 0;
}
.body-1Ukv50{
	border-radius: 0 0 10px 10px;
}

.connectedAccounts-1YaT2t {
	justify-content: unset;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1px;
}

.userInfoSection-2u2hir+.userInfoSection-2u2hir {
	border-top: none;
}

.connectedAccounts-1YaT2t::before {
	display: block;
	content: "CONNECTED ACCOUNTS";
	font-weight: 700;
	margin-bottom: 8px;
	font-size: 12px;
	line-height: 16px;
	grid-column: 1 / span 2;
	color: var(--header-secondary);
	font-family: var(--font-display);
}

.connectedAccount-1xKpli {
	width: auto;
	border-width: 0px;
	margin-top: 0;
	border-radius: 0px;
	box-shadow: 0 0 0 1px var(--background-modifier-accent);
	position: relative;
}

.connectedAccount-1xKpli a {
	position: absolute;
	inset: 0;
	opacity: 0;
}

.profileBannerPremium-KD60EB {
	background-origin: content-box;
	background-color: rgb(255 255 255 / 5%) !important;
	transition: .17s ease;
	transition-property: transform, border-radius, padding, margin;
	transform-origin: bottom left;
	--banner-handle: 5ch;
}

.profileBannerPremium-KD60EB .pencilContainer-18TrEJ {
	transition: .17s ease;
	transition-property: top, right;
}
.profileBannerPremium-KD60EB:hover .pencilContainer-18TrEJ {
	--w: 36px;
	--h: var(--w);

	top: max(0px, calc(calc(var(--banner-handle) - var(--h)) * 0.5));
	right: max(0px, calc(calc(var(--banner-handle) - var(--w)) * 0.5));
}

.noTabBar-2Q-iE_ {
	border-top: none;
}

.profileBannerPremium-KD60EB:hover {
	transform: scale(1.25);
	margin-right: calc(-1 * var(--banner-handle, 5ch));
	padding-right: var(--banner-handle, 5ch);
	border-radius: 0px;
}

.profileBannerPremium-KD60EB ~ * {
	transition: opacity .17s ease;
}

.profileBannerPremium-KD60EB:hover ~ * {
	opacity: 0;
}

.profileBannerPremium-KD60EB .premiumIconWrapper-32h0Ri {
	display: none;
}
