/**
 * @name vortami's Theme
 * @version 0.4.1
 * @description My theme. For me.
 *
 * @author vortami
 * @authorLink https://vortami.web.app/
 *
 * @updateUrl https://vortami.github.io/bd-theme/vortami's%20theme.theme.css
 * @source https://github.com/vortami/bd-theme
 */

@import url("https://vortami.github.io/bd-theme/theme.css");

:root {
	/* windows buttons size (top right) (default: 45px/30px) */
	--action-button-width: 45px;
	--action-button-height: 30px;

	/* select background (default: blurple/discord color) */
	--select-bg: var(--brand-experiment);
}
